# Import packages and CSV file

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final_df.csv')

# Data Cleaning

Labeling the columns and getting rid of the extra index columns that remained after concatination of dataframes

In [3]:
df = df.rename(columns={'0': 'mission', '1': 'tagline', '2': 'name', '3': 'category_name', '4': 'category_ID', '5': 'cause_name', '6': 'cause_ID', '7': 'city', '8': 'state', '9': 'zipcode', 
                   '10': 'current_score', '11': 'current_rating', '12': 'advisories', '13': 'accountability_score', '14': 'accountability_rating', '15': 'irs_org_type', '16': 'irs_classification', 
                   '17': 'npo_affilitation', '18': 'foundation_status', '19': 'irs_org_classification', '20': 'tax_deductibility', '21': 'npo_status', '22': 'org_assets', '23': 'org_income', 
                   '24': 'fin_score', '25': 'fin_rating'})

In [4]:
df['index'].unique

<bound method Series.unique of 0           0
1           1
2           2
3           3
4           4
         ...
10813    8917
10814    8922
10815    8923
10816    8925
10817    8929
Name: index, Length: 10818, dtype: int64>

In [5]:
#Reviewing data types
df.dtypes

Unnamed: 0                  int64
index                       int64
mission                    object
tagline                    object
name                       object
category_name              object
category_ID                 int64
cause_name                 object
cause_ID                    int64
city                       object
state                      object
zipcode                     int64
current_score             float64
current_rating              int64
advisories                 object
accountability_score        int64
accountability_rating       int64
irs_org_type               object
irs_classification         object
npo_affilitation           object
foundation_status          object
irs_org_classification     object
tax_deductibility          object
npo_status                 object
org_assets                float64
org_income                float64
fin_score                 float64
fin_rating                  int64
dtype: object

In [6]:
#Dropping 'index' and 'Unnamed: 0'
df = df.drop(columns= ['index', 'Unnamed: 0'])

In [8]:
df.head()

,mission,tagline,name,category_name,category_ID,cause_name,cause_ID,city,state,zipcode,...,irs_classification,npo_affilitation,foundation_status,irs_org_classification,tax_deductibility,npo_status,org_assets,org_income,fin_score,fin_rating
0,Impact Alabama was founded in 2004 as the stat...,Engaging a Generation for Change.,Impact America,Human Services,6,Social Services,29,Birmingham,AL,35209,...,Educational Organization,Independent - the organization is an independe...,Organization which receives a substantial part...,"Student Services, Organizations of Students",Contributions are deductible,501(c)(3),2032739.0,3364323.0,91.70,4
1,Four Corners Ministries exists to communicate ...,The Gospel Sent,Four Corners Ministries,Religion,9,Religious Activities,26,Opelika,AL,36801,...,Charitable Organization,Independent - the organization is an independe...,Organization that normally receives no more th...,Christian,Contributions are deductible,501(c)(3),2602296.0,1930948.0,96.10,4
2,The Mobile Symphony Orchestra enhances lives b...,Working to create an environment that allows f...,Mobile Symphony Orchestra,"Arts, Culture, Humanities",2,Performing Arts,4,Mobile,AL,36602,...,Educational Organization,Independent - the organization is an independe...,Organization that normally receives no more th...,Symphony Orchestras,Contributions are deductible,501(c)(3),1162334.0,1597054.0,66.45,1
3,Big Oak Ranch is a Christian home for children...,A Christian home for children needing a chance,Big Oak Ranch,Human Services,6,"Youth Development, Shelter, and Crisis Services",16,Springville,AL,35146,...,Charitable Organization,Independent - the organization is an independe...,Organization which receives a substantial part...,Group Home (Long Term),Contributions are deductible,501(c)(3),49861768.0,22928887.0,99.11,4
4,The Community Foundation of Greater Huntsville...,A Smart Place to Give,Community Foundation of Greater Huntsville,Community Development,10,Community Foundations,22,Huntsville,AL,35801,...,Charitable Organization,Independent - the organization is an independe...,Organization which receives a substantial part...,Community Foundations,Contributions are deductible,501(c)(3),25229948.0,12989927.0,95.00,4

In [10]:
df.shape

(10818, 26)

In [9]:
#check for null values
df.isnull().sum()

mission                       0
tagline                      23
name                          0
category_name                 0
category_ID                   0
cause_name                    0
cause_ID                      0
city                          0
state                         0
zipcode                       0
current_score                 0
current_rating                0
advisories                10794
accountability_score          0
accountability_rating         0
irs_org_type               1906
irs_classification           22
npo_affilitation             11
foundation_status             9
irs_org_classification     1906
tax_deductibility             9
npo_status                    9
org_assets                  117
org_income                  117
fin_score                     0
fin_rating                    0
dtype: int64

In [ ]:
#Null values are tagline(23) advisories(10794), irs_org_type(1906), irs_classification(1906), tax_deductability(9), npo_status(9), org_assets(117), org_income(117)

In [30]:
#View category_name values
df['category_name'].unique

<bound method Series.unique of 0                   Human Services
1                         Religion
2        Arts, Culture, Humanities
3                   Human Services
4            Community Development
                   ...
10813                    Education
10814                     Religion
10815    Arts, Culture, Humanities
10816               Human Services
10817               Human Services
Name: category_name, Length: 10818, dtype: object>

In [20]:
#View cause_name values

In [ ]:
#View current_score values

In [ ]:
#View current ratings

In [ ]:
#View accountability_score and accountability_ratings

In [ ]:
#irs_org_type
#irs_classification

In [ ]:
#View advisories

In [ ]:
#view npo_status

In [ ]:
#tax_deductibility

In [ ]:
#org_assets and org_income

In [ ]:
#fin_score and fin_rating

In [ ]:
#View NPO state distribution