In [1]:
import json 
import requests
import numpy as np
import pandas as pd
import time 
import random
from bs4 import BeautifulSoup as BS

In [2]:
#import the api id and api key
from keys import app_id, app_key

In [3]:
url='https://www23.statcan.gc.ca/imdb/p3VD.pl?Function=getVD&TVD=53971'

page = requests.get(url)
bs = BS(page.content, 'html.parser')
states = pd.DataFrame([[i.text for i in x.findAll('td')] for x in bs.table.findAll('tr')][1:])[2].unique()

In [25]:
data2, badlist2 = [] , []
for state in states:
    for page in range(1,11):
        url = f'https://api.data.charitynavigator.org/v2/Organizations?app_id=e890d85f&app_key=15c0fd55e8a27aa023c8391cf56e3300&state={state}&pageSize=1000&pageNum={page}'
        response = requests.get(url)
        if response.status_code == 200:
            polls = response.json()
            for x in polls:
                try:
                    lst = []
                    lst.append(x['mission'])
                    lst.append(x['tagLine'])
                    lst.append(x['charityName'])
                    lst.append(x['category']['categoryName'])
                    lst.append(x['category']['categoryID'])
                    lst.append(x['cause']['causeName'])
                    lst.append(x['cause']['causeID'])
                    lst.append(x['mailingAddress']['city'])
                    lst.append(x['mailingAddress']['stateOrProvince'])
                    lst.append(x['mailingAddress']['postalCode'])
                    lst.append(x['currentRating']['score'])
                    lst.append(x['currentRating']['rating'])
                    lst.append(x['advisories']['severity'])
                    current_accountability_rating = x['currentRating']['accountabilityRating']
                    lst.append(current_accountability_rating['score'])
                    lst.append(current_accountability_rating['rating'])
                    lst.append(x['irsClassification']['nteeType'])
                    lst.append(x['irsClassification']['classification'])
                    lst.append(x['irsClassification']['affiliation'])
                    lst.append(x['irsClassification']['foundationStatus'])
                    lst.append(x['irsClassification']['nteeClassification'])
                    lst.append(x['irsClassification']['deductibility'])
                    lst.append(x['irsClassification']['subsection'])
                    lst.append(x['irsClassification']['assetAmount'])
                    lst.append(x['irsClassification']['incomeAmount'])
                    current_financial_rating = x['currentRating']['financialRating']
                    lst.append(current_financial_rating['score'])
                    lst.append(current_financial_rating['rating'])
                    data2.append(lst)
                except:
                    badlist2.append(x)
        else:
            print(state, page)
            break
        time.sleep(random.choice([x/10 for x in range(7,13)]))
    df4 = pd.DataFrame(data2)
    df4.to_csv('data2.csv')

AK 7
DE 9
HI 10
NH 10
ND 7
RI 10
SD 8
VT 8
WY 7

In [27]:
df4.shape

(2550, 26)

In [4]:
rating, ratingbadlist = [] ,[]
for state in states:
    for page in range(1,100):
        url = f'https://api.data.charitynavigator.org/v2/Organizations?app_id=e890d85f&app_key=15c0fd55e8a27aa023c8391cf56e3300&state={state}&pageSize=1000&pageNum={page}'
        response = requests.get(url)
        if response.status_code == 200:
            polls = response.json()
            for x in polls:
                try:
                    lst = []
                    #lst.append(x['mission'])
                    #lst.append(x['tagLine'])
                    lst.append(x['charityName'])
                    #lst.append(x['category']['categoryName'])
                    #lst.append(x['category']['categoryID'])
                    #lst.append(x['cause']['causeName'])
#                     lst.append(x['cause']['causeID'])
#                     lst.append(x['mailingAddress']['city'])
#                     lst.append(x['mailingAddress']['stateOrProvince'])
#                     lst.append(x['mailingAddress']['postalCode'])
#                     lst.append(x['currentRating']['score'])
#                     lst.append(x['currentRating']['rating'])
#                     lst.append(x['advisories']['severity'])
                    current_accountability_rating = x['currentRating']['accountabilityRating']
                    lst.append(current_accountability_rating['score'])
                    lst.append(current_accountability_rating['rating'])
#                     lst.append(x['irsClassification']['nteeType'])
#                     lst.append(x['irsClassification']['classification'])
#                     lst.append(x['irsClassification']['affiliation'])
#                     lst.append(x['irsClassification']['foundationStatus'])
#                     lst.append(x['irsClassification']['nteeClassification'])
#                     lst.append(x['irsClassification']['deductibility'])
#                     lst.append(x['irsClassification']['subsection'])
#                     lst.append(x['irsClassification']['assetAmount'])
#                     lst.append(x['irsClassification']['incomeAmount'])
                    #current_financial_rating = x['currentRating']['financialRating']
                    #lst.append(current_financial_rating['score'])
                    #lst.append(current_financial_rating['rating'])
                    rating.append(lst)
                except:
                    ratingbadlist.append(x)
        else:
            print(state, page)
            break
        time.sleep(random.choice([x/10 for x in range(7,13)]))
    df = pd.DataFrame(rating)
    df.to_csv('rating.csv')

AL 11
AK 7
AZ 11
AR 11
CA 11
CO 11
CT 11
DE 9
DC 11
FL 11
GA 11
HI 10
ID 11
IL 11
IN 11
IA 11
KS 11
KY 11
LA 11
ME 11
MD 11
MA 11
MI 11
MN 11
MS 11
MO 11
MT 11
NE 11
NV 11
NH 10
NJ 11
NM 11
NY 11
NC 11
ND 7
OH 11
OK 11
OR 11
PA 11
RI 10
SC 11
SD 8
TN 11
TX 11
UT 11
VT 8
VA 11
WA 11
WV 11
WI 11
WY 7

In [6]:
df.shape

(2577, 5)

In [7]:
df.head()

                                            0   1  2      3  4
0                              Impact America  82  3  91.70  4
1                     Four Corners Ministries  85  3  96.10  4
2                   Mobile Symphony Orchestra  89  3  66.45  1
3                               Big Oak Ranch  93  4  99.11  4
4  Community Foundation of Greater Huntsville  96  4  95.00  4

In [14]:
accrating, accratingbadlist = [] ,[]
for state in states:
    for page in range(1,100):
        url = f'https://api.data.charitynavigator.org/v2/Organizations?app_id=e890d85f&app_key=15c0fd55e8a27aa023c8391cf56e3300&state={state}&pageSize=1000&pageNum={page}'
        response = requests.get(url)
        if response.status_code == 200:
            polls = response.json()
            for x in polls:
                try:
                    lst = []
                    #lst.append(x['mission'])
                    #lst.append(x['tagLine'])
                    lst.append(x['charityName'])
                    #lst.append(x['category']['categoryName'])
                    #lst.append(x['category']['categoryID'])
                    #lst.append(x['cause']['causeName'])
#                     lst.append(x['cause']['causeID'])
#                     lst.append(x['mailingAddress']['city'])
#                     lst.append(x['mailingAddress']['stateOrProvince'])
#                     lst.append(x['mailingAddress']['postalCode'])
#                     lst.append(x['currentRating']['score'])
#                     lst.append(x['currentRating']['rating'])
#                     lst.append(x['advisories']['severity'])
                    current_accountability_rating = x['currentRating']['accountabilityRating']
                    lst.append(current_accountability_rating['score'])
                    lst.append(current_accountability_rating['rating'])
#                     lst.append(x['irsClassification']['nteeType'])
#                     lst.append(x['irsClassification']['classification'])
#                     lst.append(x['irsClassification']['affiliation'])
#                     lst.append(x['irsClassification']['foundationStatus'])
#                     lst.append(x['irsClassification']['nteeClassification'])
#                     lst.append(x['irsClassification']['deductibility'])
#                     lst.append(x['irsClassification']['subsection'])
#                     lst.append(x['irsClassification']['assetAmount'])
#                     lst.append(x['irsClassification']['incomeAmount'])
                    #current_financial_rating = x['currentRating']['financialRating']
                    #lst.append(current_financial_rating['score'])
                    #lst.append(current_financial_rating['rating'])
                    accrating.append(lst)
                except:
                    accratingbadlist.append(x)
        else:
            print(state, page)
            break
        time.sleep(random.choice([x/10 for x in range(7,13)]))
    df2 = pd.DataFrame(accrating)
    df2.to_csv('accrating.csv')

AL 11
AK 7
AZ 11
AR 11
CA 11
CO 11
CT 11
DE 9
DC 11
FL 11
GA 11
HI 10
ID 11
IL 11
IN 11
IA 11
KS 11
KY 11
LA 11
ME 11
MD 11
MA 11
MI 11
MN 11
MS 11
MO 11
MT 11
NE 11
NV 11
NH 10
NJ 11
NM 11
NY 11
NC 11
ND 7
OH 11
OK 11
OR 11
PA 11
RI 10
SC 11
SD 8
TN 11
TX 11
UT 11
VT 8
VA 11
WA 11
WV 11
WI 11
WY 7

In [18]:
df2.shape

(2577, 3)

In [30]:
df2[0].value_counts()

Boone and Crockett Club                           2
American Institute for Economic Research          1
Catholic Charities of the Archdiocese of Omaha    1
Family Independence Initiative                    1
Alternatives Incorporated of Madison County       1
                                                 ..
The Outreach Program                              1
Jewish Foundation for the Righteous               1
United Way of Southeast Mississippi               1
Northeastern Pennsylvania Philharmonic Society    1
The Sunlight Foundation                           1
Name: 0, Length: 2576, dtype: int64

In [31]:
df[0].value_counts()

Boone and Crockett Club                           2
American Institute for Economic Research          1
Catholic Charities of the Archdiocese of Omaha    1
Family Independence Initiative                    1
Alternatives Incorporated of Madison County       1
                                                 ..
The Outreach Program                              1
Jewish Foundation for the Righteous               1
United Way of Southeast Mississippi               1
Northeastern Pennsylvania Philharmonic Society    1
The Sunlight Foundation                           1
Name: 0, Length: 2576, dtype: int64

In [19]:
df.head()

                                            0   1  2
0                              Impact America  82  3
1                     Four Corners Ministries  85  3
2                   Mobile Symphony Orchestra  89  3
3                               Big Oak Ranch  93  4
4  Community Foundation of Greater Huntsville  96  4

In [12]:
finrating, finratingbadlist = [] ,[]
for state in states:
    for page in range(1,100):
        url = f'https://api.data.charitynavigator.org/v2/Organizations?app_id=e890d85f&app_key=15c0fd55e8a27aa023c8391cf56e3300&state={state}&pageSize=1000&pageNum={page}'
        response = requests.get(url)
        if response.status_code == 200:
            polls = response.json()
            for x in polls:
                try:
                    lst = []
                    #lst.append(x['mission'])
                    #lst.append(x['tagLine'])
                    lst.append(x['charityName'])
                    #lst.append(x['category']['categoryName'])
                    #lst.append(x['category']['categoryID'])
                    #lst.append(x['cause']['causeName'])
#                     lst.append(x['cause']['causeID'])
#                     lst.append(x['mailingAddress']['city'])
#                     lst.append(x['mailingAddress']['stateOrProvince'])
#                     lst.append(x['mailingAddress']['postalCode'])
#                     lst.append(x['currentRating']['score'])
#                     lst.append(x['currentRating']['rating'])
#                     lst.append(x['advisories']['severity'])
#                     current_accountability_rating = x['currentRating']['accountabilityRating']
#                     lst.append(current_accountability_rating['score'])
#                     lst.append(current_accountability_rating['rating'])
#                     lst.append(x['irsClassification']['nteeType'])
#                     lst.append(x['irsClassification']['classification'])
#                     lst.append(x['irsClassification']['affiliation'])
#                     lst.append(x['irsClassification']['foundationStatus'])
#                     lst.append(x['irsClassification']['nteeClassification'])
#                     lst.append(x['irsClassification']['deductibility'])
#                     lst.append(x['irsClassification']['subsection'])
#                     lst.append(x['irsClassification']['assetAmount'])
#                     lst.append(x['irsClassification']['incomeAmount'])
                    current_financial_rating = x['currentRating']['financialRating']
                    lst.append(current_financial_rating['score'])
                    lst.append(current_financial_rating['rating'])
                    finrating.append(lst)
                except:
                    finratingbadlist.append(x)
        else:
            print(state, page)
            break
        time.sleep(random.choice([x/10 for x in range(7,13)]))
    df3 = pd.DataFrame(finrating)
    df3.to_csv('finarating.csv')

AL 11
AK 7
AZ 11
AR 11
CA 11
CO 11
CT 11
DE 9
DC 11
FL 11
GA 11
HI 10
ID 11
IL 11
IN 11
IA 11
KS 11
KY 11
LA 11
ME 11
MD 11
MA 11
MI 11
MN 11
MS 11
MO 11
MT 11
NE 11
NV 11
NH 10
NJ 11
NM 11
NY 11
NC 11
ND 7
OH 11
OK 11
OR 11
PA 11
RI 10
SC 11
SD 8
TN 11
TX 11
UT 11
VT 8
VA 11
WA 11
WV 11
WI 11
WY 7

In [13]:
df3.shape

(2577, 3)

In [16]:
df3.head()

                                            0      1  2
0                              Impact America  91.70  4
1                     Four Corners Ministries  96.10  4
2                   Mobile Symphony Orchestra  66.45  1
3                               Big Oak Ranch  99.11  4
4  Community Foundation of Greater Huntsville  95.00  4

In [26]:
df3.tail()

                                         0      1  2
2572               Wyoming Outdoor Council  81.85  3
2573          Wyoming Community Foundation  84.05  3
2574         Boys & Girls Club of Cheyenne  98.02  4
2575         Community Center for the Arts  85.73  3
2576  Grand Teton National Park Foundation  96.07  4